@import url("style.css");

body {
    background: #111;
    color: #eee;
}

header {
    border-bottom: 1px solid #444;
}

.hamburger span {
    background: #eee;
}

#nav-menu {
    background: #222;
    border: 1px solid #444;
}

button, a {
    background: #222;
    color: #eee;
    border: 1px solid #eee;
}

button:hover, a:hover {
    background: #333;
}

#assistant-box {
    background: #222;
    border-color: #555;
}

#assistant-header {
    border-bottom-color: #555;
}

#assistant-input {
    background: #111;
    color: #eee;
    border-color: #555;
}

#background {
    opacity: 0.5;
}
